@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Retail Shop</h1>
    <p class="lead">Where all stuff is cheap, open and broken</p>
    <button class="btn btn-lg btn-primary">Shop Now</button>
</div>


<div class="row">
    <div class="col-sm ">
        <div class="card mb-4">
            <div class="card-body">
                <h6>Card Title</h6>
                <p>Some paragraph</p>
                <a href="#"> Link</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card mb-4">
            <div class="card-body">
                <h6>Card Title</h6>
                <p>Some paragraph</p>
                <a href="#"> Link</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="card mb-4">
            <div class="card-body">
                <h6>Card Title</h6>
                <p>Some paragraph</p>
                <a href="#"> Link</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card mb-4">
            <div class="card-body">
                <h6>Card Title</h6>
                <p>Some paragraph</p>
                <a href="#"> Link</a>
            </div>
        </div>
    </div>
</div>

